<div class="container">
  <h1>Twitter Random</h1>

  <% if session[:user_id] %>
<div id="tweet">
  <a href="/">Tweet Now</a>|<a href="/mentions">Mentions</a>|<a href="/random">Random</a>|<a href="/followed">Followed</a>|<a href="http://www.twitter.com/#{@user.username}"><%=@user.username%></a><br><br>
</div>

<center>
<div class="big"><p>Pick a word. Then we'll generate random tweets from that word.</p></div>

<form action="/random" method="post" name="random">
  <input type="text" name="word" placeholder="Your word here..."><br><br>
  <input type="submit" name="random" value="Submit word">
</form>
<br>



<div class="random_tweets">
</div>

</center>
<% end %>
</div><footer>
<br>Made by JTWeet
</footer>